/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    width: 500px; /* 設置寬度為500像素 */
    height: auto; /* 自動計算高度以保持比例 */
}

.wheel-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

canvas {
    border: 10px solid #333;
    border-radius: 50%;
}

.arrow {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 40px solid red;
}

#spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}